<main class="background">
<div class="col-md-6">
    <mat-card>
        <!-- <mat-card-title>Login</mat-card-title> -->
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="submit()">
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Firstname" formControlName="Firstname">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Lastname" formControlName="Lastname">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input type="email" matInput placeholder="Email" formControlName="Email">
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field>
                        <input type="password" matInput placeholder="Password" formControlName="password">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="mobile" formControlName="mobile">
                    </mat-form-field>
                </p>

                <div class="button">
                    <button type="submit" mat-button>Sign In</button>
                </div>
                <a routerLink="/login">ALREADY USER? CLICK ME!!</a>

            </form>
        </mat-card-content>
    </mat-card>
</div></main>
